.wrapper {
    width: 1920px;
    margin: 0 auto;
}

header{
    width: 1920px;
    height: 198.16px;
    border: 1px solid #333333;
    
}

.header1{
    width: 1920px;
    height: 50px;
    background-color: #333333;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.header1 h3{
    font-family:Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;


}
.header1 img{
    width: 16px;
    height: 16px;
}



.gen {
    width: 1421px;
height: 674px;
display: flex;
margin: 0 auto;
gap: 21px;
}
.gen-right {
    position: relative;
    width: 700px;
height: 669px;
}
.gen-right img {
    width: 100%;
}
.gen-right h1 {
    position: absolute;
    top: 0;
    font-family: Museo Sans Cyrl;
font-size: 36px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;
text-align: left;
width: 412px;
height: 110px;
right: 20px;
}
.gen-left {
    width: 700px;
height: 669px;
}
.gen-left {
    display: flex;
    width: 700px;
height: 669px;
flex-wrap: wrap;
}
.gen-left h1 {
    color: rgb(51, 51, 51);
font-family: Museo Sans Cyrl;
font-size: 36px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
}
.gen-left img {
    width: 336px;
height: 321px;
}
.block1 {
    position: relative;
}
.block1 h1 {
    position: absolute;
    top: 42px;
    left: 21px;
}
.block2 {
    position: relative;
}
.block2 h1 {
    position: absolute;
    top: 42px;
    left: 21px;
}
.block4 {
    position: relative;
}
.input {
    line-height: 28px;
    width: 220px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }
   
   .input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #956D84;
   }
   
   .input::placeholder {
    color: #828282;
   }
   
   .input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
.input2 {
    line-height: 28px;
    width: 580px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }
   
   .input2:focus, input2:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #956D84;
   }
   
   .input2::placeholder {
    color: #828282;
   }
   
   .input2:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
   
   
   
   
   
   
   

